@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    overflow-y: overlay;
    @apply bg-gradient-to-br from-neutral-800 to-black;
}

a
{
    @apply text-gift hover:text-neutral-400;
}

.page
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}

p
{
    @apply text-lg text-white;
}

h1
{
    @apply text-4xl text-white;
}

h2
{
    @apply text-3xl text-white;
}

h3
{
    @apply text-2xl text-white;
}

h4
{
    @apply text-xl text-white;
}

h5
{
    @apply text-lg text-white;
}

h6
{
    @apply text-sm text-white;
}

li
{
    list-style-position: inside;
    @apply text-lg;

}

li:marker
{
    color: black;
}

hr
{
    @apply rounded border border-neutral-400
}


.glass-effect {
  @apply bg-neutral-800 backdrop-filter backdrop-blur-sm bg-opacity-80;
}

.glass-effect-inverted
{
    @apply bg-white backdrop-filter backdrop-blur-sm bg-opacity-5;
}

.hover-lift
{
    @apply transition-transform hover:scale-105;
}

.hover-lift-button
{
    @apply transition-transform hover:scale-110;
}

.hover-lift-icon
{
    @apply transition-transform hover:scale-125;
}

.footer-text
{
    @apply no-underline text-white;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pixelated
{
    image-rendering: pixelated;
}