@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    overflow-y: overlay;
    background-image: url("/images/bg.jpg");
    background-size: 250px;
}

a
{
    @apply text-green-600 hover:text-green-800;
}

img
{
    width: 100%;
    max-width: 800px;
}

html
{
    position: relative;
    min-height: 100%;
}

body
{
    margin-bottom: 150px;
    /* Height of footer*/
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}

p
{
    @apply text-lg;
}

h1
{
    @apply text-4xl;
}

h2
{
    @apply text-3xl;
}

h3
{
    @apply text-2xl;
}

h4
{
    @apply text-xl;
}

h5
{
    @apply text-lg;
}

h6
{
    @apply text-sm;
}

li
{
    list-style-position: inside;
}

.footer-text
{
    @apply no-underline text-white;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pixelated
{
    image-rendering: pixelated;
}

.ignore-scrollbar
{
    padding-left: calc(100vw - 100%);
}