@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: "Lexend";
    font-weight: bold;
}

a
{
    @apply underline text-green-600 hover:text-green-800;
}

img
{
    width: 100%;
    max-width: 800px;
}

html
{
    position: relative;
    min-height: 100%;
}

body
{
    margin-bottom: 150px;
    /* Height of footer*/
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}

p
{
    @apply text-lg;
}

h1
{
    @apply text-4xl;
}

h2
{
    @apply text-3xl;
}

h3
{
    @apply text-2xl;
}

h4
{
    @apply text-xl;
}

h5
{
    @apply text-lg;
}

h6
{
    @apply text-sm;
}

li
{
    list-style-position: inside;
}

.navbar-element
{
    @apply no-underline text-white hover:text-gray-500;
}

.navbar-element.active
{
    @apply text-green-600;
    text-decoration: underline;
}

.navbar-social-media-icon
{
    @apply transition-transform duration-200 hover:scale-110;
}

.navbar-social-media-icon:hover
{
    filter: invert(46%) sepia(71%) saturate(4019%) hue-rotate(119deg) brightness(95%) contrast(83%);
}

.footer-text
{
    @apply no-underline text-white;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pixelated
{
    image-rendering: pixelated;
}